/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    background-color: black;
    
}

#mainHeading {
    color: red;
    font-size: 3em;
    text-align: center;
}

.funParagraph {
    color: green;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    color: aquamarine;
    font-style: italic;
}

p {
    background-color: turquoise;
    border-style: outset;
    border-radius: 25px;
    border-color: turquoise;
    
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
}